<h1>Create Trip</h1>
<hr />

<form (ngSubmit)="onSubmit()" [formGroup]="tripForm">
    <div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Start Time" formControlName="StartTime" type="StartTime" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Buddy Id" formControlName="BuddyId" type="BuddyId" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Volunteer Id" formControlName="VolunteerId" type="VolunteerId" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Start Location" formControlName="StartLocation" type="StartLocation" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Projected End Location" formControlName="ProjectedEndLocation" type="ProjectedEndLocation" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="End Location" formControlName="EndLocation" type="EndLocation" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="End Time" formControlName="EndTime" type="EndTime" required />
            </mat-form-field>
        </div>
        <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Trip</button>


<a mat-button routerLink="/trip">Back to List</a>